.darkMode .ikonli-font-icon {
	-fx-icon-color: #eee;
}

.lightMode .ikonli-font-icon {
	-fx-icon-color: text_color;
}

.borderless-root {
    -fx-background-color: background_color;
}

Button .ikonli-font-icon {
	-fx-icon-color: grey;
}

Button:default .ikonli-font-icon {
	-fx-icon-color: white;
}

.tree-cell {
    -fx-font-weight: normal ;
}
.tree-cell:group, .strong {
    -fx-font-weight: bold ;
}

.muted {
	-fx-opacity: 0.5;
}

.spaced {
	-fx-spacing: 8px;
}

.large-spaced {
	-fx-spacing: 16px;
}

.padded {
	-fx-padding: 8px;
}

.vpadded {
	-fx-padding: 8px 0 8px 0;
}

.hpadded {
	-fx-padding: 0 8px 0 8px;
}

.bpad {
	-fx-padding: 0 0 8px 0;
}

.tpad {
	-fx-padding: 8px 0 0 0;
}

.lpad {
	-fx-padding: 0 0 0 8px;
}

.rpad {
	-fx-padding: 0 8px 0 0;
}

.large-bpad {
	-fx-padding: 0 0 16px 0;
}

.large-tpad {
	-fx-padding: 16px 0 0 0;
}

.large-lpad {
	-fx-padding: 0 0 0 16px;
}

.large-rpad {
	-fx-padding: 0 8px 0 0;
}

.indented {
	-fx-padding: 0 0 0 24px;
}

.h1, .h2, .h3 {
    -fx-text-fill: accent_color;
}

.h1 {
	-fx-font-size: 3em;
    -fx-font-weight: bold ;
}

.h2 {
	-fx-font-size: 2.5em;
}

.h3 {
	-fx-font-size: 1.5em;
}

.darkMode .icon-accent, .lightMode .icon-accent, .icon-accent {
	-fx-icon-color: accent_color;
}

.darkMode .icon-success, .lightMode .icon-success, .icon-success {
	-fx-icon-color: #28a745;
}

.darkMode .icon-warning, .lightMode .icon-warning, .icon-warning{
	-fx-icon-color: #ffc107;
}

.darkMode .icon-danger, .lightMode .icon-danger, .icon-danger{
	-fx-icon-color: #dc3545;
}

.darkMode .icon-info, .lightMode .icon-info, .icon-info {
	-fx-icon-color: #007bff;
}

.text-accent {
	-fx-text-fill: accent_color;
}

.text-success {
	-fx-text-fill: #28a745;
}

.text-warning {
	-fx-text-fill: #ffc107;
}

.text-danger {
	-fx-text-fill: #dc3545;
}

.text-info {
	-fx-text-fill: #007bff;
}

.btn-accent, .pill-accent, .circle-button-accent {
	-fx-background-color: accent_color;
	-fx-text-fill: white;
}

.pill-success {
	-fx-background-color:  #28a745;
	-fx-text-fill: white;
}

.darkMode .pill-accent .ikonli-font-icon, .lightMode .pill-accent .ikonli-font-icon,
.darkMode .pill-success.ikonli-font-icon, .lightMode .pill-success .ikonli-font-icon {
	-fx-icon-color: white;	
}  

.btn-success {
	-fx-background-color: #28a745;
	-fx-text-fill: white;
}

.btn-warning {
	-fx-background-color: #ffc107;
	-fx-text-fill: black;
}

.btn-danger {
	-fx-background-color: #dc3545;
	-fx-text-fill: white;
}

.pill-accent, .pill-success {
	-fx-padding: 8px;
    -fx-border-radius: 20 20 20 20; 
    -fx-background-radius: 20 20 20 20; 
/* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
	
}

.circle-button-accent {
	-fx-padding: 8px;
    -fx-border-radius: 32; 
    -fx-background-radius: 32; 
}

.circle-button-accent .ikonli-font-icon {
	-fx-icon-color: #eee;
	-fx-icon-size: 48px;
}

.circle-button-accent:hover .ikonli-font-icon { 
	-fx-icon-color: white;
}

.text-strong {
	-fx-font-weight: bold;
}

.btn-info {
	-fx-background-color: #007bff;
	-fx-text-fill: white;
}

.large-icon {
	-fx-icon-size: 48px;
}

.medium-icon {
	-fx-icon-size: 32px;
}

.small-icon {
	-fx-icon-size: 24px;
}