
/* Linux */
* {
	/*background_color: #303030;*/
}

.borderless-root {	
	-fx-border-style: solid;
	-fx-border-radius: 8px;
	-fx-border-width: 1;
	-fx-border-insets: 1;
}

.darkMode.borderless-root {
	-fx-border-color: derive(background_color,+20%);
}

.lightMode.borderless-root {
	-fx-border-color: derive(background_color,-10%);
}