.title-bar {
	-fx-background-color: accent_color;	
}

.darkMode .title-bar .ikonli-font-icon, .lightMode .title-bar .ikonli-font-icon  {
	-fx-icon-color: #eee;
}

.darkMode .title-bar .ikonli-font-icon:hover , .lightMode .title-bar .ikonli-font-icon:hover   {
	-fx-icon-color: white;
}