
.spaced {
	-fx-spacing: 16px;
}

.stage-unfocused TitleBar Label, .stage-unfocused TitleBar .ikonli-font-icon {
	-fx-opacity: 25%;
}

.title-label {
	-fx-font-weight: bold;
}

.title-bar {
	-fx-background-color: derive(background_color, -10%);
}

.ikonli-font-icon {
	-fx-opacity: 60%;	
}

.stage-focused .ikonli-font-icon {
	-fx-opacity: 60%;	
}

.stage-focused .ikonli-font-icon:hover {
	-fx-opacity: 100%;	
}