.spaced {
	-fx-spacing: 6px !important;
}

.stage-unfocused WindowsTitleBar Label, .stage-unfocused WindowsTitleBar .ikonli-font-icon, .stage-unfocused WindowsTitleBar ImageView {
	-fx-opacity: 25%;
}

.title-label {
	-fx-font-weight: bold;
	-fx-font-size: 0.9em;
}

#titleStack {
	-fx-padding: 10px 0 10px 20px;
}

#accessories {
	-fx-padding: 0;
}

.accessory-wrapper {
	-fx-padding: 0 6px;
}

.darkMode .accessory-wrapper:hover {
	-fx-background-color: #333333 !important;
}

.lightMode .accessory-wrapper:hover {
	-fx-background-color: #cccccc !important;
}

.first-element.accessory-wrapper:hover {	
	-fx-background-radius: 8px 0 0 0 !important;
}

#closeParent:hover {
	-fx-background-radius: 0px 8px 0 0;
	-fx-background-color: #aa0000 !important;
}

.lightMode #close {
	-fx-image: url(windows/close-light.png);
}

.darkMode #close, .lightMode #close:hover {
	-fx-image: url(windows/close.png);
}

.darkMode #minimizeParent:hover {
	-fx-background-color: #333333 !important;
}

.lightMode #minimizeParent:hover {
	-fx-background-color: #cccccc !important;
}

.darkMode #minimize {
	-fx-image: url(windows/minimize.png);
}

.lightMode #minimize {
	-fx-image: url(windows/minimize-light.png);
}

.darkMode #maximizeParent:hover {
	-fx-background-color: #333333 !important;
}

.lightMode #maximizeParent:hover {
	-fx-background-color: #cccccc !important;
}

.darkMode #maximize {
	-fx-image: url(windows/maximize.png);
}

.lightMode #maximize {
	-fx-image: url(windows/maximize-light.png);
}

.darkMode #maximize.restorable {
	-fx-image: url(windows/restore.png);
}

.lightMode #maximize.restorable {
	-fx-image: url(windows/restore-light.png);
}

.title-bar {
	-fx-background-color: background_color;
}